@import url('https://fonts.googleapis.com/css?family=B612');

$bgcolor: rgb(202, 203, 245);
$bgcolor2: rgb(47, 55, 90);
$textcolor: #16161b;
$textcolor2: #d8d1ff;

$lipad: 10px;
$numli: 4;

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'B612', sans-serif;
    color: $textcolor;
    background-color: $bgcolor;
    user-select: none;
}

.topbar {
    transition: all 0.5s ease;
    display: block;
    direction: rtl;
    opacity: 1;
    width: 100%;
    height: 20px;
    position: absolute;
    top:0;
    left:0;
    -webkit-app-region: drag;

    button {
        -webkit-app-region: no-drag;
        opacity: 0.5;
        background-color: #4CAF50; /* Green */
        border: 1px solid black;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: auto;

        &:hover{
            opacity: 0.8;
        }
    }
}

header {
    display: block;
    padding: 30px 0;
    text-align: center;
    background-color: $textcolor;
    color: $textcolor2;

    #titletext{
        font-size: 28pt;
        letter-spacing: 3pt;
        font-weight: 700;
    }

    a {
        margin: auto;
        display: inline-block;
        width: 400px;
        transition: all 0.5s ease;
        color: inherit;
        text-decoration: none;
        font-variant: small-caps;
    }
    a:hover{
        color: darken($textcolor2, 20%);
    }
}

.container {
    display: grid;
    margin: auto;
    text-align: center;
}


ul {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    li {
        transition: all 0.2s ease;
        margin: 0;
        padding: $lipad;
        text-align: center;
        display: block;
        //vertical-align: middle;
        line-height: 75px;
        width: calc(100%-4px);
        height: 100px-4px-(2*$lipad);
        border: 2px solid gray;
        opacity: 0.8;
        

        &:hover {
            opacity: 1;
        }
    }
}